open_document_embedded_from_current_path o
open_document_embedded <C-o>
open_document <C-S-o>
open_prev_doc <S-o>

# ----------------
# |   Movement   |
# ----------------

next_page J
previous_page K

next_page <C-f>
previous_page <C-b>

screen_up <C-u>
screen_down <C-d>

goto_top_of_page zt
goto_bottom_of_page zb
goto_left zh
goto_right zl

goto_toc <tab>
goto_toc t

# ---------------
# |   Zooming   |
# ---------------
zoom_in zi
zoom_out zo

fit_to_page_width zw
fit_to_page_width_smart zW
fit_to_page_height zh
fit_to_page_height_smart zH
