open_document_embedded o
open_prev_doc <S-o>
open_document_embedded_from_current_path <C-o>
open_document <C-S-o>

# ----------------
# |   Movement   |
# ----------------
move_down j
move_up k
move_left l
move_right h

next_page J
previous_page K

next_page <C-f>
previous_page <C-b>

screen_up <C-u>
screen_down <C-d>

next_chapter ]c
prev_chapter [c

goto_top_of_page zt
goto_bottom_of_page zb
goto_left zh
goto_right zl

goto_toc <tab>
goto_toc t

goto_begining gg
goto_end G

goto_mark '
goto_mark `

# -------------
# |   Links   |
# -------------
goto_link gl
edit_link L

add_highlight H

# ---------------
# |   Zooming   |
# ---------------
zoom_in zi
zoom_out zo

fit_to_page_width s
fit_to_page_width_smart S
fit_to_page_height a
fit_to_page_height_smart A

overview_definition go
portal_to_definition gD
goto_defintion gd
