snippet aee "ä" iA
ä
endsnippet

snippet Aee "Ä" iA
Ä
endsnippet

snippet oee "ö" iA
ö
endsnippet

snippet Oee "Ö" iA
Ö
endsnippet

snippet uee "ü" iA
ü
endsnippet

snippet Uee "Ü" iA
Ü
endsnippet

snippet bss "ß" iA
ß
endsnippet
 
snippet Bss "ẞ" iA
ẞ
endsnippet
